# ----
# Site

title: trust|me
url: "https://github.com/trustm3"
baseurl: ""
google_analytics_key:
show_full_navigation: true

kramdown:
  parse_block_html: true
# Values for the jekyll-seo-tag gem (https://github.com/jekyll/jekyll-seo-tag)
logo: img/trustme-logo.png
description: This is the trust|me project documentation
githuborg: "https://github.com/trustm3"
repository: trustme_main
release_tag: v0.1.1
author:
  name:
  email:
  twitter: # twitter username without the @ symbol
social:
  name: trustme
  links:
    - https://github.com/CloudCannon/edition-jekyll-template

# -----
# Build

timezone: Etc/UTC

permalink: pretty

plugins:
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-toc

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - LICENCE

collections:
  docs:
    title: Documentation
    permalink: /:path/
    output: true

defaults:
  -
    scope:
      path: ""
    values:
      layout: default
  -
    scope:
      path: ""
      type: "docs"
    values:
      seo:
        type: Article
      _comments:
        category: Group navigation links with this field
        order: Used to sort links in the navigation
      _options:
        content:
          width: 800
          height: 2000
  -
    scope:
      path: ""
      type: "posts"
    values:
      _comments:
        type: Marks the impact of this release

# -----------
# CloudCannon

types:
  - minor
  - major
