input::-ms-clear,
input::-ms-reveal {
	display: none !important;
}
body {
	height: auto;
	overflow-x: hidden;
	background-color: $body-background-color;

    a:link, a:hover, a:visited, a:active {
        text-decoration: none;
        color: #3370ab;
    }
	&.nav-open {
		overflow: hidden;

		nav,
		header > form {
			display: block;
		}
        span{
            display: none;
        }

		header {
			bottom: 0;
		}
	}

	&::before {
		content: "";
		background-color: $content-background-color;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
	}

    @media (max-width: $toc-break) and (min-width: $mobile-break){
        padding: 0 0 0 $nav-width;
    }
	@media (min-width: $mobile-break) {

		&.nav-open {
			overflow: auto;
		}

		&::after,
		&::before {
			content: "";
			position: fixed;
			top: 0;
			bottom: 0;
			z-index: -1;
		}

		&::after {
			left: 0;
			width: $nav-width;
			background-color: #fff;
		}

		#search-input,
		&::after {
		}

		&::before {
			left: $nav-width;
			right: 0;
			background-color: $content-background-color;
		}
	}

    h1, h2, h3{
        padding-top: 20px;
        padding-bottom: 10px;
        scroll-margin-top: 90px;
    }
}

.main {
	margin-top: $space + $nav-header-height;
    margin-left: 0;
}

header {
	$emblem-size: 80px;
	$emblem-vertical-padding: ($nav-header-height - $emblem-size) / 2;
	$emblem-horizontal-padding: $space;

    a:link{
        color: #4A4A4A;
    }
    a:visited{
        color: #4A4A4A;
    }
	position: fixed;
	top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
	@media (min-width: $mobile-break) {
        left: 50%;
        margin: 0 auto 0 -630px;
	}
    @media (max-width: $toc-break) and (min-width: $mobile-break){
        left: 50%;
        margin: 0 auto 0 -500px;
    }

	right: 0;
	overflow-x: hidden;
    overflow-y: auto;
	background-color: $nav-background-color;

	ul {
		padding: 0;
		margin: 0;
        @media (min-width: $mobile-break) {
            width: $nav-width;
        }
	}
    li{
        margin: 10px 0 0 0;
    }

	h1 {
		padding: $emblem-vertical-padding $emblem-horizontal-padding;
		height: $nav-header-height;
		box-sizing: border-box;
		background-color: $brand-colour;
		color: #003566; // color of text next to trustme logo
		margin: 0;
		font-size: 1.7rem;
		line-height: 0.8;
		letter-spacing: 0;
		font-weight: 600;
		text-indent: 0;
		@include display-flex();
		@include flex-direction(row);
		@include align-items(center);
		border-bottom: 1px solid rgba(0, 0, 0, 0.075);

		img {
			height: $emblem-size;
			width: $emblem-size;
			margin-right: $space - 5;
		}
        /*position: sticky;
        z-index: 10;*/
	}

$nav-image: $baseurl + "/img/menu.svg";
	.open-nav {
		background-image: url($nav-image);
		background-color: transparent;
		background-repeat: no-repeat;
		background-size: 100%;
		width: $emblem-size;
		height: $emblem-size;
		border: 0;
		position: absolute;
		top: $emblem-vertical-padding;
		right: $emblem-horizontal-padding;
		border-radius: 2px;

		&:focus {
			outline: none;
			background-color: rgba(0, 0, 0, 0.05);
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}

	@media (min-width: $mobile-break) {
		background-color: transparent;
		width: $nav-width;
		right: auto;
		bottom: auto;

		.open-nav {
			display: none;
		}
	}

    .download-mobile1{
       background: $brand-colour;
       overflow: hidden;
       position: absolute;
       right: 150px;
       list-style-type: none !important; 
       border: none;
       width: 50px;
       height: 50px;
       font-size: 16px;
       box-sizing: border-box;
       border-radius: 8px 0 0 8px;
       margin: 0.2em 0 0.2em 0.1em;
       text-decoration: none;
       font-weight: 300;
       color: #000000;
       text-align: center;
       transition: all 0.15s;
       line-height: normal;
       img{
       height: 35px;
       width: 35px;
       }
       

       display: inline;
	@media (min-width: $mobile-break) {
        display: none;
        }
    }
    .download-mobile2{
       background: $brand-colour;
       position: absolute;
       right: 100px;
       list-style-type: none !important; 
       border: none;
       width: 50px;
       height: 50px;
       font-size: 16px;
       box-sizing: border-box;
       border-radius: 0 8px 8px 0;
       margin: 0.2em 0 0.2em 0;
       text-decoration: none;
       font-weight: 300;
       color: #000000;
       text-align: center;
       transition: all 0.15s;
       line-height: normal;
       img{
       height: 35px;
       width: 35px;
       }

        display: inline;
	@media (min-width: $mobile-break) {
        display: none;
        }
    }
}

.content {
	background-color: $content-background-color;
	color: $content-color;
    z-index : 0;

}

.content,
.page-header {
	max-width: $content-max-width;
	padding: 0 ($space + 5) $space;
	margin: 0 auto 0 auto;
}

.page-header {
	h2,
	h3 {
		margin: 0;
		line-height: 1.2;
		letter-spacing: -1px;
	}
    ul, ol{
        pre{
            width: 720px;
        } 
    }

	h2 {
		font-size: 2.5rem;
		margin-left: -1px;
		letter-spacing: 0;
	}

	h3 {
		font-size: 1.7rem;
		margin-left: -4px;
	}

	@media (min-width: $mobile-break) {
		h2 {
			font-size: 2.65rem;
		}

		h3 {
			font-size: 2rem;
		}
	}

	@media (min-width: $full-width-break) {
		margin-top: 55px;
	}
}

nav,
header > form {
	display: none;
    font-size: 28px;

	@media (min-width: $mobile-break) {
		display: block;
	}
}
span
{
	display: block;
    font-size: 28px;

	@media (min-width: $mobile-break) {
		display: none;
	}
}

nav > ul {

	& + ul {
		border-top: 1px solid rgba(0, 0, 0, 0.075);
	}
}

.nav-item {
	font-family: "Open Sans", sans-serif;
	line-height: 2.5;
    margin: 0;
    display: block;
    z-index: 10;

    
    @media (min-width: $mobile-break) and (max-height: $vertical-break) {
         & > ul {
            display: none;
            }
        
         &.current > ul{
            display: block;
        }
    }

    

	> a {
		color: #666;
		text-decoration: none;
		font-size: 1.2rem;
		padding:  0 0 0 $space * 2;
		display: block;
	}

	&.current > a,
	> a:active,
	> a:hover {
		color: #111;
        background-color: $brand-colour;
        font-weight: 600;
        display:block;
	}

    &.top-level{
        display: block;
    }
	&.top-level > a {
		line-height: 1.5;
		font-weight: 600;
        padding: 8px 0 5px $space;
	}
}

#nav-item ul li.active span{
    display: none;
}
.settings-panel-example {
	@extend p;
	@include display-flex();
	@include flex-direction(column);

	.example {
		max-width: 300px;
		background-color: #fafafa;
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 1;
		border-radius: 2px;
		overflow: hidden;
	}

	@media (min-width: 960px) {
		@include flex-direction(row);

		.details {
			@include flex(1);
			margin-right: 20px;
		}

		p + .highlight > pre {
			margin-bottom: 0;
		}

		.example {
			@include flex(0 0 300px);
			max-width: 100%;
		}
	}
}

.highlight {
	margin-left: 0;
	margin-right: 0;
}

h3 + .warning {
	margin-top: 1.75em;
}


h4 code {
	background: $nav-background-color;
	color: $content-color;
	background-color: transparent;
	font-weight: 700;
	padding: 0;
	font-size: 1.1em;
	line-height: 1;
}

h4 svg {
	vertical-align: middle;
	margin-right: 6px;
	position: relative;
	top: -2px;
	fill: #2E2E2E;
	height: 23px;
}

.required {
	position: relative;
}

.required::after {
	content: "REQUIRED";
	font-size: 12px;
	position: absolute;
	top: 5px;
	line-height: 1;
	color: $brand-colour;
	padding-left: 5px;
}

#search-results {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
		margin: 0;
		padding: 0;

		h4 {
			font-size: 2rem;
		}

		p {
			line-height: 1.5;
		}
	}
}


#search-input {
	-webkit-appearance: none;
	display: block;
	margin: 0;
	padding: 10px 20px 10px 15px;
	width: $nav-width ;
	box-sizing: border-box;
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.075);
	border-left: 5px solid transparent;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.8;

	&:focus {
		outline: none;
		border-left-color: $brand-colour;
	}
	@media (min-width: $mobile-break) {
        display: block;   
    }

}


.badge {
	font-family: "Open Sans", sans-serif;
	padding: 2px 5px;
	text-transform: uppercase;
	font-size: 0.8rem;
	border-radius: 2px;
	background: #eee;
	font-weight: bold;

	&.major {
		background: $brand-colour;
		color: #fff;
	}
}

blockquote {
	border-left: 5px solid #FD0;
	padding: 10px 15px;
	margin-left: -15px;
	margin-right: -10px;
	background-color: $brand-colour-light;
	border-color: $brand-colour;

	p:last-child {
		margin-bottom: 0;
	}

	@media (max-width: $full-width-break) {
		margin-left: 0;
		margin-right: 0;
	}
}

img {
	max-width: 100%;
	height: auto;
}

.editor-link {
	display: none;
	margin-top: 0;

	.btn {
		border: 0;
		border-radius: 2px;
		width: 100%;
		max-width: 500px;
		box-sizing: border-box;
		font-size: 2rem;
		text-decoration: none;
		padding: 10px 15px;
		margin: 0;
		font-size: 18px;
		cursor: pointer;
		background-color: #f7e064;
		color: #333;
		box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);

		&:hover {
			background-color: #f4d525;
			color: #333;
		}
	}

}

.cms-editor-active .editor-link {
	display: block;
}
#markdown-toc:before{
    content: "Contents";
    font-weight: bold;
    color: #727272;
}

#markdown-toc
{
    border: 1px solid #aaa;
    margin-top: 5px;
    margin-left: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 1em;
    /* list-style: none; */
    width: 240px;
    position: relative;
    top: 0;

    float: right;
    background-color: #ffffff;
    clear:both;
    display: inline;
    @media (min-width: $toc-break) {
        display: none;
        }
}

#tocbtn:hover
{
    background-color: #fff;
}
#tocbtn
{
    top: 100px;
    position: fixed;
    border: 1px solid #aaa;
    width: 100px;
    float: right;
    margin-top: 10px;
    display: none;
    @media (min-width: $toc-break) {

        display: none;
        }
}

.download1{
   background: $brand-colour;
   text-align: center;
   list-style-type: none !important; 
   border: none;
   width: 200px;
   font-size: 20px;
   box-sizing: border-box;
   margin: 0.2em 0 0.2em 0.1em;
   font-weight: 500;
   color: #000000;
   text-align: center;
   transition: all 0.15s;
   line-height: 1.2;
   position: fixed;
   z-index: 10;
   left: 50%;
   margin: 0 0 0 100px;
   top: 10px;

   a:link, a:hover, a:visited, a:active {
        text-decoration: none;
        color: #000;
    }

    display: none;
@media (min-width: $mobile-break) {
    display: inline-block;
    }
@media (min-width: $toc-break) {
    margin: 0 0 0 310px;
    }
}
.download2{
   background: $brand-colour;
   text-align: center;
   list-style-type: none !important; 
   border: none;
   width: 200px;
   font-size: 20px;
   box-sizing: border-box;
   margin: 0.2em 0 0.2em 0;
   font-weight: 500;
   color: #000000;
   transition: all 0.15s;
   line-height: 1.2;
   position: fixed;
   z-index: 10;
   left: 50%;
   margin: 0 0 0 300px;
   top: 10px;
   a:link, a:hover, a:visited, a:active {
        text-decoration: none;
        color: #000;
    }

    display: none;
@media (min-width: $mobile-break) {
    display: inline-block;
    }
@media (min-width: $toc-break) {
    margin: 0 0 0 500px;
    }
}
.download1 img{
    display:block;
    margin: auto;
}
.toc:before{
    content: "Contents";
    font-weight: bold;
    color: #727272;
}

.toc{
    left: 50%;
    margin: 0 0 0 400px;
    z-index: 0;

    position: fixed;
    top: 135px;

    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;

    display: none;
    @media (min-width: $toc-break) {
        display: inline-block;
        }
    a{
        padding: 0 0 0 15px;
        margin: 0 0 0 -15px;
    }
	ul {
		padding: 0;
		margin: 0;
        }
	
    li{
        margin: 10px 0 0 0;
        padding: 0 0 0 10px;
        list-style: none;

        a:link, a:visited, {
            color: #4A4A4A;
        }
        a:hover, a:active{
            font-weight: 600;
            color: #111;
            display: block;
            background: $brand-colour;
            
        }
    }
    width: 300px;
}

.logo{
    position: fixed;
	@media (min-width: $mobile-break) {
        margin: 0 auto 0 -630px;
        left: 50%;
    }
    @media (max-width: $toc-break){
        left: 50%;
        margin: 0 auto 0 -500px;
    }
    z-index: 100;
    font-size: 28px;
    top: 10px;
    display: flex;
    color: #003566;
    font-weight: 600;
    line-height: 0.8;
    align-items: center;
    display: none;
    @media (min-width: $mobile-break) {
        display: flex;
    }
    nav {
        display: none;
        @media (min-width: $mobile-break) {
            display: block;
        }
}
}
.mobilelogo{
    display: block;
    @media (min-width: $mobile-break) {
        display: none;
    }
    
}

.filler{
	background: $brand-colour;
	width: 100%;
	height: 100px;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	display: none;
	@media (min-width: $mobile-break) {
		display: inline;
	}
}
.background-impressum{
	background: $brand-colour;
	width: 200%;
	height: 90px;
	position: relative;
	bottom: -26px;
	z-index: 10;
   margin: 0 0 0 -600px;
}
.impressum-mail{
   background: $brand-colour;
   text-align: center;
   list-style-type: none !important; 
   border: none;
   width: 200px;
   font-size: 20px;
   box-sizing: border-box;
   margin: 0.2em 0 0.2em 0;
   font-weight: 500;
   color: #000000;
   transition: all 0.15s;
   line-height: 1.2;
   position: relative;
   z-index: 10;
   left: 50%;
   margin: 0 0 0 140px;
   bottom: 35px;

    display: inline-block;
@media (min-width: $toc-break) {
    margin: 0 0 0 400px;
    }
}
